@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$kok: #04049f;
$oq: #ffffff;
$font: 'Audiowide', cursive;
$pushti: #4c2885;
$tvalue: all 0.5s;
$shadow: 0 5px 10px rgb(154 160 185 / 5%), 0 15px 40px rgb(0 0 0 / 10%);

